<?xml version="1.0" ?>
<!--
////////////////////////////////////////////////////////////////////////////////
//
// Read more about ArcGIS Viewer for Flex - http://links.esri.com/flexviewer
//
////////////////////////////////////////////////////////////////////////////////
-->
<configuration>

       <title>..:: GeoHidro ::..</title>
    <subtitle>Sistema Nacional de Información de Recursos Hídricos</subtitle>
    <logo>assets/images/logoSnirhWhite.png</logo>
    <style>
        <colors>0xcee7f4,0x39628c,0x355d89,0x294867,0xcee7f4</colors>
        <alpha>0.8</alpha>
        <titlefont name="Arial TUR"/>
        <subtitlefont name="Arial TUR"/>
    </style>
    <!-- replace the following url with your own geometryservice -->
    <geometryservice url="http://tasks.arcgisonline.com/ArcGIS/rest/services/Geometry/GeometryServer" />

    <!-- UI elements -->
    <widget left="10"  top="280"    config="widgets/Navigation/NavigationWidget.xml" url="widgets/Navigation/NavigationWidget.swf"/>
    <widget right="0" bottom="0"   config="widgets/OverviewMap/OverviewMapWidget.xml" url="widgets/OverviewMap/OverviewMapWidget.swf"/>
    <widget right="20" top="7"    config="widgets/MapSwitcher/MapSwitcherWidget.xml" url="widgets/MapSwitcher/MapSwitcherWidget.swf"/>
    <widget left="0" top="0"     config="widgets/HeaderController/HeaderControllerWidget.xml" url="widgets/HeaderController/HeaderControllerWidget.swf"/>	
	<widget left="3" bottom="1"	   config="widgets/Coordinate/CoordinateWidget.xml" url="widgets/Coordinate/CoordinateWidget.swf"/>
	<widget left="260" bottom="1" config="widgets/CoordinateUtm/CoordinateUtmWidget.xml" url="widgets/CoordinateUtm/CoordinateUtmWidget.swf"/>
	<widget left="3" bottom="30" config="widgets/ScaleText/ScaleTextWidget.xml" url="widgets/ScaleText/ScaleTextWidget.swf"/>
	<widget right="340" top="7" url="widgets/Facebook/FacebookWidget.swf" config="widgets/Facebook/FacebookWidget.xml" label="Facebook"/>
	<widget right="375" top="7" url="widgets/StaticImage/StaticImageWidget.swf" config="widgets/StaticImage/StaticImageWidget.xml" label="Imagen estática"/>
	<widget right="410" top="7" url="widgets/Youtube/YoutubeWidget.swf" config="widgets/Youtube/YoutubeWidget.xml" label="Youtube"/>
	<widget right="133" top="8" url="widgets/Geocoder/GeocoderWidget.swf" config="widgets/Geocoder/GeocoderWidget.xml"/>
	<widget url="widgets/Splash/SplashWidget.swf" config="widgets/Splash/SplashWidget.xml" label="Presentación"/>
	
    <map scalebarvisible="true" scalebar="metric" wraparound180="true" initialextent="-10147168.37891106 -1972553.8902864712 -6451285.1872672 -101375.43786585354" wkid="102100" top="0" addarcgisbasemaps="true"
    attributionvisible="true" esrilogovisible="false" >
    
    <basemaps>
   <layer type="tiled" label="Calles" icon="https://www.arcgis.com/sharing/rest/content/items/04e903465a3e497aa669212e08927cee/info/thumbnail/world_street_map.jpg" url="http://services.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer" visible="true"/>
	</basemaps>
        <operationallayers>
<!--             <layer label="Demographics" type="tiled" visible="false" alpha="0.5" -->
<!--                    url="http://server.arcgisonline.com/ArcGIS/rest/services/Demographics/USA_Median_Household_Income/MapServer"> -->
<!--                 <sublayer id="1" popupconfig="popups/PopUp_Demographics_BlockGroups.xml"/> -->
<!--                 <sublayer id="2" popupconfig="popups/PopUp_Demographics_Tracts.xml"/> -->
<!--                 <sublayer id="3" popupconfig="popups/PopUp_Demographics_Counties.xml"/> -->
<!--                 <sublayer id="4" popupconfig="popups/PopUp_Demographics_States.xml"/> -->
<!--             </layer> -->
<!--             <layer label="Fires" type="feature" visible="false" alpha="1.0" -->
<!--                    popupconfig="popups/PopUp_Fires.xml" -->
<!--                    url="http://sampleserver3.arcgisonline.com/ArcGIS/rest/services/Fire/Sheep/FeatureServer/0"/> -->
			
			<layer label="Cartografía base" type="dynamic" visible="true" imageformat="png8"
        			url="http://geosnirh.ana.gob.pe:6080/arcgis/rest/services/SERV_CARTOGRAFIA_BASE_UTM18S/MapServer"/>

        	<layer label="Otras fuentes" type="dynamic" visible="false" imageformat="png8" alpha="0.5"
        			url="http://geosnirh.ana.gob.pe:6080/arcgis/rest/services/SERV_FUENTES_EXTERNAS/MapServer" />
<!--         	<layer type="dynamic" label="Imágenes satelitales" copyright="" imageformat="png8" url="http://geosnirh.ana.gob.pe:6080/arcgis/rest/services/SERV_IMAGEN_RAPIDEYE/MapServer" visible="false"> -->
<!--                 <sublayer id="3" popupconfig="popups/PopUp_2010.xml"/> -->
<!--                 <sublayer id="2" popupconfig="popups/PopUp_2011.xml"/> -->
<!--                 <sublayer id="1" popupconfig="popups/PopUp_2012.xml"/> -->
<!--             </layer> -->
        	<layer label="Inventarios nacionales" type="dynamic" visible="false" imageformat="png8"
        			url="http://geosnirh.ana.gob.pe:6080/arcgis/rest/services/SERV_INVENTARIO_NACIONAL/MapServer" >
        			<sublayer id="0" popupconfig="popups/PopUp_glaciares.xml"/>
        			<sublayer id="1" popupconfig="popups/PopUp_lagunasgla.xml"/>
        	</layer>
        	<layer label="Estudios regionales" type="dynamic" visible="false" imageformat="png8"
        			url="http://geosnirh.ana.gob.pe:6080/arcgis/rest/services/EstudiosRegionales/SrvEstudiosRegionales/MapServer" />
        	<layer label="Estudios temáticos" type="dynamic" visible="false" imageformat="png8"
        			url="http://geosnirh.ana.gob.pe:6080/arcgis/rest/services/GeoHidroV2/GH2_Tematicos/MapServer" >
        		<sublayer id="1" popupconfig="popups/PopUp_Clasificacion.xml"/>
        		<sublayer id="2" popupconfig="popups/PopUp_Vertimientos.xml"/>
        		<sublayer id="4" popupconfig="popups/PopUp_PuntosCriticos.xml"/>
        		<sublayer id="5" popupconfig="popups/PopUp_EstMonitoreo.xml"/>
        		<sublayer id="6" popupconfig="popups/PopUp_Vedas.xml"/>
        		<sublayer id="8" popupconfig="popups/PopUp_Humedales.xml"/>
        		<sublayer id="9" popupconfig="popups/PopUp_Manantial.xml"/>
        		<sublayer id="10" popupconfig="popups/PopUp_Cochas.xml"/>
        		<sublayer id="12" popupconfig="popups/PopUp_Bocatomas.xml"/>
        		<sublayer id="13" popupconfig="popups/PopUp_Pozos.xml"/>
        		<sublayer id="14" popupconfig="popups/PopUp_Presas.xml"/>
        		<sublayer id="15" popupconfig="popups/PopUp_Canales.xml"/>
        		<sublayer id="17" popupconfig="popups/PopUp_EstHidro.xml"/>
            </layer>
        </operationallayers>
    </map>

    <!-- widgets organized into widget containers that manage close/open etc -->
    <!-- supported layout property options: horizontal(default)|float|vertical|fix-->
    <widgetcontainer layout="float">
    
      <widgetgroup label="Búsqueda" icon="assets/images/i_zoomfull.png">
      	<widget label="Consulta presas" left="250" top="140"
                icon="assets/images/GenericSearch32.png"
                config="widgets/Query/QueryWidget.xml"
                url="widgets/Query/QueryWidget.swf"/>
        <widget label="Identificador" left="250" top="120"
        		config="widgets/identify/identifyWidget.xml"
        		url="widgets/identify/identifyWidget.swf"
        		icon="widgets/identify/assets/images/i_info.png"/>
        <widget label="Buscar" left="80" top="280"
                icon="assets/images/i_search.png"
                config="widgets/Search/SearchWidget_Louisville.xml"
                url="widgets/Search/SearchWidget.swf"/>
      </widgetgroup>
      
      <widgetgroup label="Complementos" icon="assets/images/i_globe.png">
        <widget label="Servicios WMS" left="200" top="200"
        		config="widgets/Services/ServicesWidget.xml"
        		url="widgets/Services/ServicesWidget.swf"
        		icon="assets/images/i_layers.png"/>
        <widget label="Perfil de elevación" right="200" top="300"
        		config="widgets/ElevationProfile/ElevationProfileWidget.xml"
        		url="widgets/ElevationProfile/ElevationProfileWidget.swf"
        		icon="widgets/ElevationProfile/images/i_widget.png"/>
        <widget label="Últimos sismos - USGS" left="280" top="160"
        		config="widgets/GeoRSS/GeoRSSWidget.xml"
        		url="widgets/GeoRSS/GeoRSSWidget.swf"
        		icon="assets/images/i_rss.png"/>
        <widget label="Extraer datos" left="280" top="160" height="170"
        		config="widgets/DataExtract/DataExtractWidget.xml"
        		url="widgets/DataExtract/DataExtractWidget.swf"
        		icon="assets/images/i_scissors.png"/>
        <widget label="Marcadores" left="430" top="90"
                icon="assets/images/i_bookmark.png"
                config="widgets/Bookmark/BookmarkWidget.xml"
                url="widgets/Bookmark/BookmarkWidget.swf"/>
      </widgetgroup>
    
      <widgetgroup label="Herramientas" icon="assets/images/i_shapefile_config.png">
        <widget label="Cargar shapefile" left="100" top="100"
                icon="widgets/ShapeFiles/assets/images/shapefiles.png"
                config="widgets/ShapeFiles/ShapeFilesWidget.xml"
                url="widgets/ShapeFiles/ShapeFilesWidget.swf"/>
        <widget label="Localizador" left="350" top="240"
                icon="assets/images/i_target.png"
                config="widgets/Locate/LocateWidget.xml"
                url="widgets/Locate/LocateWidget.swf"/>
        <widget label="Imprimir" left="300" top="140"
                icon="assets/images/i_print.png"
                config="widgets/Print/PrintWidget.xml"
                url="widgets/Print/PrintWidget.swf"/>
        <widget url="widgets/Legend/LegendWidget.swf" left="150" top="280"
       			config="widgets/Legend/LegendWidget.xml"
       			label="Leyenda" icon="assets/images/Legend32.png"/>
       	<widget label="Dibujar" left="60" top="400"
                icon="assets/images/i_draw2.png"
                config="widgets/Draw/DrawWidget.xml"
                url="widgets/Draw/DrawWidget.swf"/>
		<widget label="Lista de capas" right="20" top="51" height="580"
        		config="widgets/eLayerList/eLayerListWidget.xml"
        		url="widgets/eLayerList/eLayerListWidget.swf"
        		icon="widgets/eLayerList/assets/images/i_folder.png" preload="open"/>
      </widgetgroup>
      
      <widgetgroup label="Ayuda" icon="assets/images/i_help.png">
      	<widget label="Manual de usuario"
        		icon="assets/images/edit_genericdocument.png"
        		config="widgets/Link/LinkWidget_PDF.xml"
        		url="widgets/Link/LinkWidget.swf"/>
      	<widget label="ArcGIS Online ANA"
        		icon="assets/images/i_globe.png"
        		config="widgets/Link/LinkWidget_AGOL.xml"
        		url="widgets/Link/LinkWidget.swf"/>
      	<widget label="Web ANA"
        		icon="assets/images/i_home.png"
        		config="widgets/Link/LinkWidget_ana.xml"
        		url="widgets/Link/LinkWidget.swf"/>
      	<widget label="Contacto"
        		icon="assets/images/i_about.png"
        		config="widgets/SplashContacto/SplashContactoWidget.xml"
        		url="widgets/SplashContacto/SplashContactoWidget.swf"/>
      </widgetgroup>
     
    </widgetcontainer>
</configuration>